@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Tangerine:wght@400;700&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
.header {
    color: rgb(235, 235, 235);
}

.homepage_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.homepage_container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all 1s ease;
}
.homepage_container .center .new_logo {
    font-size: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepage_container .center .new_logo:nth-child(1) {
    align-items: flex-end;
    justify-content: flex-end;
}
.homepage_container .center .new_logo .first {
    font-family: 'Tangerine', cursive;
    font-size: 8rem;
    -webkit-animation: glitch 1s linear infinite;
    animation: glitch 1s linear infinite;
}
.homepage_container .center .new_logo .first::before,
.homepage_container .center .new_logo .first::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
}
.homepage_container .center .new_logo .first::before {
    -webkit-animation: glitchTop 1s linear infinite;
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
.homepage_container .center .new_logo .first::after {
    -webkit-animation: glitchBottom 1.5s linear infinite;
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
.homepage_container .center .new_logo .second {
    font-family: 'Tauri', sans-serif;
    font-size: 5rem;
    text-decoration: underline;
    font-weight: 400;
}
.homepage_container .center .click_me {
    padding-top: 1em;
    color: rgb(235, 235, 235);
    font-family: '$font-family';
}
.homepage_container .profile {
    top: 85%;
    left: 92%;
}
.homepage_container .profile .new_logo .first {
    font-size: 4rem;
}
.homepage_container .profile .new_logo .second {
    font-size: 2.5rem;
}
.homepage_container .profile .click_me {
    display: none;
}
.homepage_container .light_profile_side {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    background-color: rgb(235, 235, 235);
    width: 0%;
    height: 0%;
    z-index: 1;
    transition: height 0.5s ease, width 1s ease 0.5s;
}
.homepage_container .light_profile_side_show {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    background-color: rgb(235, 235, 235);
    width: 50%;
    height: 100%;
    z-index: 1;
    transition: height 0.5s ease, width 1s ease 0.5s;
}
.homepage_container .blog,
.homepage_container .work {
    position: absolute;
    color: rgb(235, 235, 235);
    cursor: pointer;
    z-index: 3;
}
.homepage_container .blog h3,
.homepage_container .work h3 {
    font-family: '$font-family';
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.homepage_container .work.dark,
.homepage_container .about.dark {
    color: #2d2254;
}
.homepage_container .blog {
    transform: rotate(90deg);
    right: calc(1rem + 2vw);
}
.homepage_container .work {
    transform: rotate(-90deg);
    left: calc(1rem + 2vw);
}
.homepage_container .about,
.homepage_container .myskills {
    color: rgb(235, 235, 235);
    cursor: pointer;
    z-index: 3;
}
.homepage_container .about h3,
.homepage_container .myskills h3 {
    font-family: '$font-family';
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.homepage_container .bottom_bar {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@-webkit-keyframes glitch {
    2%,
    64% {
        transform: translate(2px, -2px);
    }
    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(2px, -2px);
    }
    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}
@-webkit-keyframes glitchTop {
    2%,
    64% {
        transform: translate(2px, -2px);
    }
    4%,
    60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}
@keyframes glitchTop {
    2%,
    64% {
        transform: translate(2px, -2px);
    }
    4%,
    60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}
@-webkit-keyframes glitchBottom {
    2%,
    64% {
        transform: translate(-2px, 0);
    }
    4%,
    60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}
@keyframes glitchBottom {
    2%,
    64% {
        transform: translate(-2px, 0);
    }
    4%,
    60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}
.about_container .about_content {
    position: relative;
    width: 60%;
    background-color: rgb(235, 235, 235);
    margin: 0 auto;
    top: 8em;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin-bottom: 15rem;
}
.about_container .about_content .image {
    background-color: #000000;
}
.about_container .about_content .image .pic {
    height: 100%;
    width: 100%;
    background: url('../assets/Profile.jpeg') bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    transform: scaleX(-1);
    filter: grayscale(1);
}
.about_container .about_content .name,
.about_container .about_content .experience,
.about_container .about_content .education {
    background-color: #e3e4e6;
}
.about_container .about_content .about_me,
.about_container .about_content .hobbies,
.about_container .about_content .skills,
.about_container .about_content .interests {
    background-color: #d4d5d7;
}
.about_container .about_content .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1.2em 0 0 3em;
}
.about_container .about_content .name .position {
    font-size: 1.6rem;
    padding-top: 20px;
    padding-bottom: 5em;
}
.about_container .about_content .personal_info {
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    background-color: #2b2c2e;
    color: rgb(235, 235, 235);
}
.about_container .about_content .personal_info .personal,
.about_container .about_content .personal_info .contact {
    width: 50%;
}
.about_container .about_content .personal_info .personal h3,
.about_container .about_content .personal_info .contact h3 {
    padding: 10px 0 0 3.5em;
    font-weight: 500;
    font-size: 1.2em;
}
.about_container .about_content .personal_info .personal .personal_details li,
.about_container .about_content .personal_info .contact .personal_details li {
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.about_container .about_content .personal_info .personal .personal_details li svg,
.about_container .about_content .personal_info .contact .personal_details li svg {
    margin-right: 10px;
}
.about_container .about_content .about_me,
.about_container .about_content .skills,
.about_container .about_content .hobbies,
.about_container .about_content .interests {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about_container .about_content .about_me h3,
.about_container .about_content .skills h3,
.about_container .about_content .hobbies h3,
.about_container .about_content .interests h3 {
    font-size: 1.2em;
    font-weight: 500;
    align-self: center;
    text-align: center;
    width: 80%;
    color: #2b2c2e;
}
.about_container .about_content .about_me::before,
.about_container .about_content .skills::before,
.about_container .about_content .hobbies::before,
.about_container .about_content .interests::before {
    content: '';
    position: relative;
    top: 5em;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #2b2c2e;
}
.about_container .about_content .about_me::after,
.about_container .about_content .skills::after,
.about_container .about_content .hobbies::after,
.about_container .about_content .interests::after {
    content: '';
    position: relative;
    bottom: calc(100% - (7em + 5px));
    width: 15%;
    margin: 0 auto;
    border-bottom: 7px solid #5891ff;
}
.about_container .about_content .about_me > p,
.about_container .about_content .hobbies > p {
    padding: 0 20px;
    color: #2b2c2e;
    justify-self: center;
}
.about_container .about_content .skills::after {
    bottom: calc(100% - (7.5em + 11px));
}
.about_container .about_content .skills p,
.about_container .about_content .hobbies p,
.about_container .about_content .interests p {
    text-align: left;
    padding: 0.5em 3em;
    margin: 0;
    color: #2b2c2e;
}
.about_container .about_content .skills :nth-child(2),
.about_container .about_content .hobbies :nth-child(2),
.about_container .about_content .interests :nth-child(2) {
    padding-top: 1.9em;
}
.about_container .about_content .interests :nth-child(3) {
    padding-bottom: 20px;
}
.about_container .about_content .experience {
    grid-column: 2/3;
    grid-row: 3/6;
}
.about_container .about_content .experience h3 {
    color: #2b2c2e;
    padding: 2rem 4rem;
}
.about_container .about_content .experience .job_details .details_container {
    display: flex;
    flex-direction: column;
}
.about_container .about_content .experience .job_details .details_container .title {
    font-weight: 600;
    padding: 0.5rem;
}
.about_container .about_content .experience .job_details .details_container .title::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #2d2254;
    position: absolute;
    margin-top: 6px;
    margin-left: -25px;
}
.about_container .about_content .experience .job_details .details_container .period,
.about_container .about_content .experience .job_details .details_container .location,
.about_container .about_content .experience .job_details .details_container .employer {
    padding: 0.2rem 0.5rem;
    color: #797979;
    font-size: 0.8em;
}
.about_container .about_content .experience .job_details .details_container .employer {
    font-size: 0.9em;
    font-weight: 800;
}
.about_container .about_content .experience .job_details .details_container .details {
    padding: 1rem 3rem;
}
.about_container .about_content .experience .job_details .details_container .details li {
    padding-bottom: 0.5rem;
}
.about_container .about_content .education {
    grid-column: 2/3;
}

.work_container {
    background-color: #2d2254;
    width: 100vw;
    height: 100vh;
}

.header-container {
    background-color: #2d2254;
    position: fixed;
    top: 0;
    height: 3.75rem;
    width: 100%;
    font-size: 1.5em;
    color: rgb(235, 235, 235);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container .header-logo {
    display: flex;
    align-items: center;
    justify-content: start;
}
.header-container .header-logo .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 1.8rem;
    width: 3rem;
    border-radius: 5px;
    cursor: pointer;
}
.header-container .say_hi {
    color: rgb(235, 235, 235);
    margin-right: 20px;
    font-size: 1.4rem;
    font-family: '$font-family';
}

.footer {
    position: fixed;
    background-color: #2d2254;
    height: 3rem;
    width: 100%;
    bottom: 0;
    color: red;
    text-align: center;
}

.logo_container {
    background-color: #2d2254;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
}
.logo_container .logo {
    position: absolute;
    width: 300px;
    height: 60px;
    background: none;
    text-align: center;
    transition: 0.75s ease;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: shrinkBorderWidth 1s linear forwards 3s, shrinkBorderHeight 1s linear forwards 3s;
    animation: shrinkBorderWidth 1s linear forwards 3s, shrinkBorderHeight 1s linear forwards 3s;
}
.logo_container .logo .logo-border {
    height: 60px;
}
.logo_container .logo .logo-border::before {
    position: absolute;
    width: 1px;
    height: 0;
    content: '';
    background: #0395e5;
    bottom: -2px;
    left: -2px;
    -webkit-animation: animateBorderBefore 0.5s linear forwards 0s, shrinkBorderHeight 0.5s linear forwards 3s;
    animation: animateBorderBefore 0.5s linear forwards 0s, shrinkBorderHeight 0.5s linear forwards 3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_container .logo .logo-border::after {
    position: absolute;
    width: 0;
    height: 1px;
    content: '';
    background: #0395e5;
    bottom: -2px;
    right: -2px;
    -webkit-animation: animateBorderAfter 1s linear forwards 2s, shrinkBorderWidth 1s linear forwards 3s;
    animation: animateBorderAfter 1s linear forwards 2s, shrinkBorderWidth 1s linear forwards 3s;
}
.logo_container .logo::before {
    position: absolute;
    width: 0;
    height: 1px;
    content: '';
    background: #0395e5;
    top: -1px;
    left: -2px;
    -webkit-animation: animateBefore 1s linear forwards 0.5s, shrinkBorderWidth 1s linear forwards 3s;
    animation: animateBefore 1s linear forwards 0.5s, shrinkBorderWidth 1s linear forwards 3s;
}
.logo_container .logo::after {
    position: absolute;
    width: 1px;
    height: 0;
    content: '';
    background: #0395e5;
    top: -1px;
    right: -2px;
    -webkit-animation: animateAfter 0.5s linear forwards 1.5s, shrinkBorderHeight 0.5s linear forwards 3s;
    animation: animateAfter 0.5s linear forwards 1.5s, shrinkBorderHeight 0.5s linear forwards 3s;
}
.logo_container .logo p {
    color: #9baec8;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 1.5em;
    line-height: 60px;
}
.logo_container .logo p::before {
    content: 'Leonard';
    -webkit-animation: changeTextBefore 1s linear forwards 2.5s;
    animation: changeTextBefore 1s linear forwards 2.5s;
}
.logo_container .logo p::after {
    content: ' Mustatea';
    -webkit-animation: changeTextAfter 1s linear forwards 2.5s;
    animation: changeTextAfter 1s linear forwards 2.5s;
}

@-webkit-keyframes animateBefore {
    to {
        width: 301px;
        transition: 0.15s width ease 0s;
    }
}

@keyframes animateBefore {
    to {
        width: 301px;
        transition: 0.15s width ease 0s;
    }
}
@-webkit-keyframes animateAfter {
    to {
        height: 61px;
        transition: 0.15s height ease 0.15s;
    }
}
@keyframes animateAfter {
    to {
        height: 61px;
        transition: 0.15s height ease 0.15s;
    }
}
@-webkit-keyframes animateBorderBefore {
    to {
        height: 61px;
        transition: 0.15s height ease 0.45s;
    }
}
@keyframes animateBorderBefore {
    to {
        height: 61px;
        transition: 0.15s height ease 0.45s;
    }
}
@-webkit-keyframes animateBorderAfter {
    to {
        width: 301px;
        transition: 0.15s width ease 0.3s;
    }
}
@keyframes animateBorderAfter {
    to {
        width: 301px;
        transition: 0.15s width ease 0.3s;
    }
}
@-webkit-keyframes shrinkBorderHeight {
    to {
        height: 40px;
    }
}
@keyframes shrinkBorderHeight {
    to {
        height: 40px;
    }
}
@-webkit-keyframes shrinkBorderWidth {
    to {
        width: 60px;
    }
}
@keyframes shrinkBorderWidth {
    to {
        width: 60px;
    }
}
@-webkit-keyframes animateBorderPTag {
    to {
        color: #0395e5;
    }
}
@keyframes animateBorderPTag {
    to {
        color: #0395e5;
    }
}
@-webkit-keyframes changeTextBefore {
    0% {
        content: 'Leonard';
    }
    50% {
        color: #2d2254;
    }
    100% {
        content: 'L';
        color: #9baec8;
        letter-spacing: -2px;
    }
}
@keyframes changeTextBefore {
    0% {
        content: 'Leonard';
    }
    50% {
        color: #2d2254;
    }
    100% {
        content: 'L';
        color: #9baec8;
        letter-spacing: -2px;
    }
}
@-webkit-keyframes changeTextAfter {
    0% {
        content: ' Mustatea';
    }
    50% {
        color: #2d2254;
    }
    100% {
        content: 'M';
        color: #9baec8;
        letter-spacing: -2px;
        transform: scale(-1, 1);
    }
}
@keyframes changeTextAfter {
    0% {
        content: ' Mustatea';
    }
    50% {
        color: #2d2254;
    }
    100% {
        content: 'M';
        color: #9baec8;
        letter-spacing: -2px;
        transform: scale(-1, 1);
    }
}
@-webkit-keyframes move {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 20px;
        left: 20px;
        transform: translate(0, 0);
    }
}
@keyframes move {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        top: 20px;
        left: 20px;
        transform: translate(0, 0);
    }
}
.power {
    position: fixed;
    top: 5em;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    background-color: #2d2254;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 50%;
    text-decoration: none;
    color: white;
    padding: 0.3rem;
    width: 2.8em;
    height: 2.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.power svg {
    height: 2em;
    width: 2em;
    font-size: 0.8em;
}
.power:hover {
    background-color: rgb(235, 235, 235);
    color: #2d2254;
}

.social_icons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 2em;
    bottom: 0;
    z-index: 3;
    width: 25px;
}
.social_icons_container .social_icons {
    cursor: pointer;
}
.social_icons_container .social_icons :not(:last-child) {
    margin: 0.5rem 0;
}
.social_icons_container .line {
    width: 2px;
    height: 8em;
    background-color: rgb(235, 235, 235);
}
.social_icons_container .line.dark {
    background-color: #2d2254;
}

.intro_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 55vh;
    display: flex;
    background: linear-gradient(to right, #2d2254 50%, rgb(235, 235, 235) 50%) bottom,
        linear-gradient(to right, #2d2254 50%, rgb(235, 235, 235) 50%) top;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    border-left: 2px solid #2d2254;
    border-right: 2px solid rgb(235, 235, 235);
    z-index: 1;
}
.intro_container .box {
    width: 50%;
    position: relative;
    display: flex;
}
.intro_container .box .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: calc(1em + 1.5vw);
    color: #2d2254;
    padding: 2rem;
    cursor: pointer;
}
.intro_container .box .text h1,
.intro_container .box .text h3,
.intro_container .box .text h6 {
    margin: 0.5em 0;
}
.intro_container .box .text h1:last-child,
.intro_container .box .text h3:last-child,
.intro_container .box .text h6:last-child {
    color: rgba(45, 34, 84, 0.6);
    font-weight: 500;
}
.intro_container .box .pic_container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    width: 100%;
}
.intro_container .box .pic_container .pic {
    padding: 2px;
    height: 100%;
    width: 100%;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background: #2d2254;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
} /*# sourceMappingURL=globals.css.map */
