@import './homepage';
@import './about';
@import './mywork';
@import './header';
@import './footer';
@import './logo';
@import './powerButton';
@import './socialIcons';
@import './intro';
@import './variables';

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
    scroll-behavior: smooth;
    background: $background-color;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.content {
    // background: $background-color;
    // height: 100%;
    // width: 100vw;
    // overflow: auto;
    // background-position: bottom left;
    // background-repeat: repeatY;
    // background-size: contain;
}

* {
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
